:root {
  --main: rgb(18.039% 15.686% 25.49%);
  --background: #f9f9f9;
  --background2: #f9f9f9;
  --orange: hsl(355.54 50.959% 42.657%);
  --orange-on-main: hsl(25.262 92.02% 69.731%);
  --green: #1c784d;
}

@font-face {
  font-family: "Luciole-Regular";
  src: url("../../public/fonts/Luciole-Regular.ttf");
}

@font-face {
  font-family: "Luciole-Regular-Italic";
  src: url("../../public/fonts/Luciole-Regular-Italic.ttf");
}

@font-face {
  font-family: "Luciole-Bold-Italic";
  src: url("../../public/fonts/Luciole-Bold-Italic.ttf");
}

@font-face {
  font-family: "Luciole-Bold";
  src: url("../../public/fonts/Luciole-Bold.ttf");
}

html {
  font-family: "Luciole-Regular", sans-serif;
  color: var(--main);
  background-color: var(--background);
}

a {
  color: var(--orange);
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--main);
  gap: 15px;
}

.text-big-italic {
  font-size: 2.6rem;
  line-height: 3.9rem;
  font-family: "Luciole-Regular-Italic", sans-serif;
  font-weight: 400;
  opacity: 0.7;
  font-style: italic;
  text-align: center;
}

button.round {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 5px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--orange);
}

blockquote {
  padding: 0 0;
  margin: 0;
  margin-bottom: 50px;
}

blockquote > p {
  font-size: 2rem;
  line-height: 3rem;
  padding: 0 10%;
  margin: 0;
  font-family: "Luciole-Regular-Italic", sans-serif;
  font-weight: 200;
  opacity: 0.7;
  font-style: italic;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main);
  text-transform: uppercase;
}

h1 {
  margin-top: 6rem;
  margin-bottom: 6rem;
  justify-self: center;
}

h2 {
  justify-self: center;
  margin: 30px 0 20px 0;
}

h3 {
  justify-self: center;
}

p {
  margin-bottom: 2rem;
}

strong {
  font-family: "Luciole-Bold", sans-serif;
}
