---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
---
<Layout title={t('coc_title')}>
<section>
  <div class="snc-snowcamp-page">
    <div class="snc-inner">
      <div class="container">
        <h1>L'association Snowcamp</h1>

        <h2 style="margin-top: 30px;">L'association</h2>
        <div style="margin-left: 30px;">
            <h3 style="margin-top: 20px;">Documents officiels</h3>
            <ul>
                <li><a href="/SnowCamp_Statuts.pdf">Les statuts</a></li>
                <li><a href="/attestationParutionJOAE.pdf">Parution au Journal officiel</a></li>
            </ul>
            <h3 style="margin-top: 20px;">Identifiants officiels</h3>
            <ul>
                <li>N° SIREN: 901317446</li>
                <li>N° Siret: 90131744600010</li>
                <li>N° RNA: W381024903</li>
            </ul>

            <h3 style="margin-top: 20px;">Siège</h3>
            Le siège est situé à cette adresse: 3 rue George Sand, 38130 ECHIROLLES
        </div>
        <h2 style="margin-top: 30px;">Les membres d'honneur</h2>
        <div style="margin-left: 30px;">
           Le principe des membres d'honneur a été mis en place dans l'année 2023.
           <h3 style="margin-top: 20px;">Règlement</h3>
           Est reconnu membre d'honneur du Snowcamp, toute personne ayant contribuée de manière significative et répétée à 
           l'organisation de la conférence Snowcamp. Le caractère répété se mesure en nombre d'édition de la conférence organisée. 
           Il faut un minimum de 5 conférences organisées pour obtenir ce titre. La nomination s'effectue par le conseil 
           d'administration lors de d'une Assemblée Générale. Le titre de membre d'honneur ouvre potentiellement droit à une place
           gratuite à la conférence. L'équipe d'organisation en charge définit le nombre de places disponibles pour des membres 
           d'honneur, et le type de place de place attribuée
           <br>Lorsque le nombre de places disponibles pour les membres d'honneur est inférieur au nombre de membres d'honneur, 
           l'ordre anti -chronologique est utilisé pour attribuer les places (Les plus récents membres d'honneur sont prioritaires).
           Un membre d'honneur qui fait encore partie de l'organisation ne se verra pas attribuer de place, puisqu'il a déjà une place
           lors de la conférence grâce à son rôle d'organisateur.

           Un vote à majorité simple en assemblée générale permet de retirer le titre de membre d'honneur. Cela intervient généralement 
           quand une personne a un comportement contraire à l'éthique et au code de conduite du Snowcamp. Le membre peut aussi refuser 
           ou cesser de porter ce titre par simple demande via un courrier électronique à l'attention d'un des membres du bureau de 
           l'association.

           La liste des membres d'honneurs est consignée par le secrétaire. Dans la mesure du possible, le site web de la conférence 
           présentera les membres d'honneurs et leur contribution.

           <h3 style="margin-top: 20px;">Les membres d'honneur</h3>
           Aucun membre d'honneur n'a officiellement été nommé. Ils seront nommés lors de l'AG de post édition 2024.
       </div>


    </div>
    </div>
  </div>
</section>
</Layout>
