---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
---
<Layout title={t('coc_title')}>
<section>
  <div class="snc-snowcamp-page">
    <div class="snc-inner">
      <div class="container">
        <h1>L'association Snowcamp</h1>

        <h2 style="margin-top: 30px;">L'association</h2>
        <div style="margin-left: 30px;">
          <h3 style="margin-top: 20px;">Documents officiels</h3>
          <ul>
              <li><a href="/snowcamp-statuts.pdf">Les statuts (14 Mars 2024)</a></li>
              <li><a href="/snowcamp-reglement-interieur.pdf">Le reglèment intérieur (14 Mars 2024)</a></li>
              <li><a href="/snowcamp-parution-joae.pdf">Parution au Journal officiel</a></li>
          </ul>
          <h3 style="margin-top: 20px;">Identifiants officiels</h3>
          <ul>
              <li>N° SIREN: 901317446</li>
              <li>N° Siret: 90131744600010</li>
              <li>N° RNA: W381024903</li>
          </ul>

          <h3 style="margin-top: 20px;">Siège</h3>
          Le siège est situé à cette adresse: 3 rue George Sand, 38130 ECHIROLLES

          <h3 style="margin-top: 20px;">Membres d'honneur</h3>
          Lors de l'Assemblée Générale du 14 mars 2024, l'assemblée a désigné comme membres d'honneur
          <ul style="margin-left: 30px;">
            <li>Cedric Tran-Xuan pour sa contribution de 2016 à 2023</li>
            <li>Lorie Pisicchio pour sa contribution de 2017 à 2022</li>
          </ul>
          Merci à eux pour leurs contributions et leurs implications pendant toutes ces années.
    </div>
    </div>
  </div>
</section>
</Layout>
