---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
---
<Layout title={t('coc_title')}>
<section>
  <div class="snc-snowcamp-page">
    <div class="snc-inner">
      <div class="container">
        <h1>{t('coc_title')}</h1>
        <p set:html={t('coc_intro')}></p>
        <h2>{t('coc_quick_title')}</h2>
        <span set:html={t('coc_quick_desc')}></span>
       <h2>{t('coc_long_title')}</h2>
       <span set:html={t('coc_long_desc')}></span>
      </div>
    </div>
  </div>
</section>
</Layout>
