---
import Layout from '../layouts/Layout.astro';
import edition from '../data/edition.json';
import { t } from "../i18n/i18n";
import SponsorsLogosSection from '../components/SponsorsLogosSection.astro';
import DateTimeChangingChild from "../components/DateTimeChangingChild.astro";

const lang = (Astro.locals as any).lang;
---
<Layout title="Snowcamp">
<main>
  <section>
	<div class="snc-banner">
	  <div class="snc-banner-style">
		<div class="snc-inner">
		  <div class="container">
			<div class="row">
			  <div class="col-xs-12">
				<div class="banner-info">
				  <div class="snc-countdown-area">
					<div id="snc-countdown" data-date={ edition.count_down }>
					  <span class="snc-days"><b id="cd-days">&nbsp;</b> <i> Jours </i></span>
					  <span class="snc-hr"><b id="cd-hours">&nbsp;</b> <i> Heures </i></span>
					  <span class="snc-min"><b id="cd-min">&nbsp;</b> <i> Minutes </i></span>
					  <span class="snc-sec"><b id="cd-sec">&nbsp;</b> <i> Secondes </i></span>
					</div>
				  </div>
				  <h2 class="title">Snowcamp <span>{ edition.year }</span></h2>
				  <h3 class="date"><span>{ (edition.dates as any)[lang] } </span>&nbsp;{ edition.year }, Grenoble</h3>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <section>
	<div id="snc-snowcamp" class="snc-snowcamp">
	  <div class="snc-inner">
		<div class="container">
		  <div class="row">
			<div class="col-xs-12">
			  <div class="snc-heading-area">
				<h2 class="snc-heading">
				  <span class="back-heading">
					  <i class="fa fa-snowflake-o" aria-hidden="true"></i>
				  </span>
				  <span class="heading">Snowcamp</span>
				</h2>
				<p class="text">{t('conference_desc')}</p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="single">
				<img src="/img/icon-univ.png" alt="universities" width="30%">
				<h3 class="title" set:html={t('universities_title')}></h3>
				<p class="info" set:html={t('universities_desc')}></p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="single">
				<img src="/img/icon-conf.png" alt="conference" width="30%">
				<h3 class="title" set:html={t('conference_title')}></h3>
				<p class="info" set:html={t('conference_desc')}></p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="single">
				<img src="/img/icon-unconference.webp" alt="unconference" width="30%">
				<h3 class="title" set:html={t('unconference_title')}></h3>
				<p class="info" set:html={t('unconference_desc')}></p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>

  <section>
	<div id="snc-innovation" class="snc-innovation">
	  <div class="snc-inner">
		<div class="container">
		  <div class="row">
			<div class="col-xs-12">
			  <div class="snc-heading-area">
				<h2 class="snc-heading">
				  <span class="back-heading">
					  <i class="fa fa-cogs" aria-hidden="true"></i>
				  </span>
				  <span class="heading" set:html={t('innovation_research_title')}></span>
				</h2>
				<p class="text" set:html={t('innovation_research_desc')}></p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="single">
				<img src="/img/icon-dev.png" alt="dev" width="30%">
				<h3 class="title" set:html={t('innovation_title')}></h3>
				<p class="info" set:html={t('innovation_desc')}></p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="single">
				<img src="/img/icon-cloud.png" alt="conference" width="30%">
				<h3 class="title" set:html={t('discussion_title')}></h3>
				<p class="info" set:html={t('discussion_desc')}></p>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
			  <div class="single">
				<img src="/img/icon-academic.png" alt="unconference" width="30%">
				<h3 class="title" set:html={t('research_title')}></h3>
				<p class="info" set:html={t('research_desc')}></p>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
  <section>
  	<SponsorsLogosSection></SponsorsLogosSection>
  </section>
  <section>
	<div id="venue" class="snc-venue">
	  <div class="snc-inner">
		<div class="container">
		  <div class="row">
			<div class="col-xs-12">
			  <div class="snc-heading-area">
				<h2 class="snc-heading">
				  <span class="back-heading">
					  <i class="fa fa-map-o" aria-hidden="true"></i>
				  </span>
				  <span class="heading">{t('venue_title')}</span>
				</h2>
				<p class="text" set:html={t('venue_desc')}></p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
			  <div class="single">
				<a href="https://alpexpo.com/seminaires/" target="_blank" class="rot-4" title="Alpexpo Grenoble">
				  <img src="/img/alpexpo/alpexpo.jpg" alt="Alpexpo Grenoble" width="40%">
				</a>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
			  <div class="single">
				<p set:html={t('venue_location')}></p>
				<br/>
				<p><strong>Av. d'Innsbruck<br/>38100 Grenoble</strong></p>
				<br/>
				<p set:html={t('venue_access')}></p>
				<p><strong>Latitude :</strong> 45.154906</p>
				<p><strong>Longitude :</strong> 5.733857</p>
			  </div>
			</div>
		  </div>
		  <div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6">
			  <div class="single polaroid-images">
				<a href="#" target="_blank" class="rot-4" title="Alpexpo - Espace 1968 (Crédit photo Alpexpo)">
				  <img src="/img/alpexpo/alpexpo-espace-1968-2.jpg" alt="Espace 1968 (Crédit photo Alpexpo)" width="30%">
				</a>
			  </div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 polaroid-images">
			  <div class="single">
				<a href="https://www.alpexpo.com/acces/" target="_blank" class="rot4" title="Alpexpo - Accès">
				  <img src="/img/alpexpo/alpexpo-acces.png" alt="Espace 1968, Alpexpo Grenoble" width="30%">
				</a>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
</main>
<script is:inline src="/js/homepage.js"></script>
</Layout>
