---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
---
<Layout title="Snowcamp">
  <div id="snc-snowcamp-page" class="snc-snowcamp-page">
    <div class="snc-inner">
      <div class="container" >
        <section id="what" class="row">
          <div class="col-xs-12">
            <div class="snc-heading-area">
              <h2 class="snc-heading">
                <span class="back-heading">
                  <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </span>
                <span class="heading">Snowcamp</span>
              </h2>
              <p class="text">{t('snowcamp_sentence')}</p>
            </div>
          </div>
        </section>

        <section class="row" style="margin: 50px 0;">
          <div class="col-xs-12 col-sm-12 col-md-6 polaroid-images">
            <a href="#" class="rot18" title="Universities, Conferences, Unconference">
              <img src="/img/snowcamp-equation.webp" alt="universities" width="30%">
            </a>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 text">
            <h2>{t('snowcamp_whatis_title')}</h2>
            <p set:html={t('snowcamp_whatis_desc')}></p>
          </div>
        </section>

        <section id="why" class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 text">
            <h2>{t('snowcamp_gren_inno_title')}</h2>
            <p set:html={t('snowcamp_gren_inno_desc')}></p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 polaroid-images">
            <a href="#" class="rot4" title="Grenoble by night"><img src="/img/grenoble.webp"></a>
          </div>
        </section>

        <section id="conf" class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 polaroid-images">
            <div class="single">
              <a href="#" class="rot-4" title="A talk"><img src="/img/ozan.webp"></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 text">
            <h2>{t('snowcamp_conf_title')}</h2>
            <p set:html={t('snowcamp_conf_desc')}></p>
          </div>
        </section>

        <section id="unconf" class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 text">
            <h2>{t('snowcamp_unconf_title')}</h2>
            <span set:html={t('snowcamp_unconf_desc')}></span>

            <div class="sponsors-btn-area" style="text-align: center; margin-top: 1rem">
              <a class="snc-btn snc-btn-big" href="mailto:team@snowcamp.io"><span><i
                class="fa fa-envelope"></i></span></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 polaroid-images">
            <div class="single">
              <a href="#" class="rot4" title="The unconference"><img src="/img/unconference.jpg"></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</Layout>