---
import Layout from '../layouts/Layout.astro';
import SponsorFormula from '../components/SponsorFormula.astro';
import sponsors from '../data/sponsors.json';
import { t } from '../i18n/i18n';

let msg_inscription;
if (sponsors.etoile.length < sponsors.sponsorship.type.etoile.number
  || sponsors.flocon.length < sponsors.sponsorship.type.flocon.number) {
    msg_inscription = t('sponsoring_open', sponsors);
  }  else {
    msg_inscription = t('sponsoring_closed');
  }
---
<style>
  .two-columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
  }
  section {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr min(70ch, 100%) 1fr 1fr;
    row-gap: 20px;
  }
  section > * {
    grid-column: 3;
  }
  section > .two-columns {
    width: 100%;
    grid-column: 2 / 5;
  }
  .center {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
</style>
<Layout title="Snowcamp">
<section>
  <h2 class="snc-heading">
    <span class="back-heading"><i class="fa fa-users" aria-hidden="true"></i></span>
    <span class="heading">{t('why_become_sponsor')}</span>
  </h2>
  <p class="text-big-italic" set:html={t('sponsor_desc')}></p>
  <h2 class="snc-heading" style="margin-top: 30px">
    <span class="back-heading"><i class="fa fa-users" aria-hidden="true"></i></span>
    <span class="heading">{t('sponsor_options')}</span>
  </h2>
  <div class="two-columns">
    <SponsorFormula sponsor={sponsors.sponsorship.type.etoile} cssClass="active"></SponsorFormula>
    <SponsorFormula sponsor={sponsors.sponsorship.type.flocon} cssClass=""></SponsorFormula>
  </div>
  <div class="center">
    <a class="snc-btn" href={sponsors.sponsorship.prospectus} target="_blank">{t('sponsorship_prospectus')}</a>
  </div>

  <div id="beers"></div>
  <h2 class="snc-heading">
    <span class="back-heading"><i class="fa fa-users" aria-hidden="true"></i></span>
    <span class="heading">{t('sponsor_meetgreet_title')}</span>
  </h2>
  <article>
    <p class="text-big-italic" style="text-align: left;" set:html={t('sponsor_meetgreet_desc')}></p>
    <ul>
      <li class="text-big-italic" style="text-align: left;">{t('sponsor_meetgreet_desc_1')}</li>
      <li class="text-big-italic" style="text-align: left;">{t('sponsor_meetgreet_desc_2')}</li>
      <li class="text-big-italic" style="text-align: left;">{t('sponsor_meetgreet_desc_3')}</li>
      <li class="text-big-italic" style="text-align: left;">{t('sponsor_meetgreet_desc_4')}</li>
    </ul>
  </article>

  <h2 class="snc-heading">
    <span class="back-heading"><i class="fa fa-users" aria-hidden="true"></i></span>
    <span class="heading">{t('sponsor_plan_title')}</span>
  </h2>
  <div class="snc-heading-area snc-heading-brand">
    <img src="/img/sponsors_plan_stands.png">
  </div>

  <h2 class="snc-heading" style="margin-top: 30px">
    <span class="back-heading"><i class="fa fa-users" aria-hidden="true"></i></span>
    <span class="heading">{t('sponsor_subscription_title')}</span>
  </h2>
  <article>
    <p class="text-big-italic">{t('sponsor_subscription')}</p>
    <ol>
      <li class="text-big-italic" style="text-align: left;">{t('sponsor_subscription_step1')}</li>
      <li class="text-big-italic" style="text-align: left;">{t('sponsor_subscription_step2')}</li>
    </ol>
  </article>
  <article>
      <p class="text-big-italic" set:html={msg_inscription}></p>
  </article>

  <article>
    <p class="text-big-italic" set:html={t('sponsoring_question')}></p>
    <div class="center">
      <a class="snc-btn" href="mailto:team@snowcamp.io"><span>{t('contact_us')}</span></a>
    </div>
  </article>
</section>
</Layout>
