---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
---
<Layout title="Snowcamp">
<section>
    <div class="snc-snowcamp-page">
        <div class="snc-inner">
          <div class="container">
            <h1>{t('sponsor_guide_title')}</h1>

            <br><br>
            <h2>{t('sponsor_guide_place_title')}</h2>  
            <div set:html={t('sponsor_guide_place_content')}></div>

            <br>
            <h3>{t('sponsor_guide_buy_ticket_package_title')}</h3>  
            <div set:html={t('sponsor_guide_buy_ticket_package_content')}></div>
        
            <br>
            <h3>{t('sponsor_guide_place_sharing_title')}</h3>  
            <div set:html={t('sponsor_guide_place_sharing_content')}></div>
                
            <br>
            <h3>{t('sponsor_guide_add_booth_ticket_title')}</h3>  
            <div set:html={t('sponsor_guide_add_booth_ticket_content')}></div>

            <br><br>
            <h2>{t('sponsor_guide_booth_etoile_title')}</h2>  
            <div set:html={t('sponsor_guide_booth_etoile_content')}></div>

            <br>
            <h3>{t('sponsor_guide_booth_etoile_what_title')}</h3>  
            <div set:html={t('sponsor_guide_booth_etoile_what_content')}></div>

            <br>
            <h3>{t('sponsor_guide_booth_etoile_material_title')}</h3>  
            <div set:html={t('sponsor_guide_booth_etoile_material_content')}></div>

            <br>
            <h3>{t('sponsor_guide_booth_etoile_install_title')}</h3>  
            <div set:html={t('sponsor_guide_booth_etoile_install_content')}></div>

            <br>
            <h3>{t('sponsor_guide_booth_etoile_delivery_title')}</h3>  
            <div set:html={t('sponsor_guide_booth_etoile_delivery_content')}></div>

            <br>
            <h3>{t('sponsor_guide_booth_etoile_wifi_title')}</h3>  
            <div set:html={t('sponsor_guide_booth_etoile_wifi_content')}></div>

            <br>
            <h3>{t('sponsor_plan_title')}</h3>
            <div style="text-align: center;"><img src="/img/sponsors_plan_stands.png" width="100%;"></div>


            <br><br>
            <h2>{t('sponsor_guide_media_kit_title')}</h2>
            <div set:html={t('sponsor_guide_media_kit_content')}></div>            
        </div>
    </div>
  </div>
</section>
</Layout>