---
import Layout from '../layouts/Layout.astro';
import { t } from "../i18n/i18n";
import edition from '../data/edition.json';
import tremplin from '../data/tremplin.json';
const lang = (Astro.locals as any).lang;
---
<Layout title="Snowcamp">
<section>
    <div class="snc-snowcamp-page">
        <div class="snc-inner">
          <div class="container">
            <h1>{t('tremplin_title')}</h1>

            <br><br>
            <h2>{t('tremplin_brief_title')}</h2>  
            <div set:html={t('tremplin_brief_content')}></div>

            <div style="display: flex; justify-content: center; margin-top: 1em">
              <div style="width: clamp(50%, 15em, 100%);" set:html={t('tremplin_planning_content')}></div>
            </div>

            <div style="display: flex; justify-content: center; margin-top: 1em">
              <a class="snc-btn" href={tremplin.cfp_link}><span>{t('tremplin_participate_title')}</span></a>
            </div>

            <br>
            <h3>{t('tremplin_participate_title')}</h3>  
            <div set:html={t('tremplin_participate_content_fn', `${(edition.dates as any)[lang]} ${edition.year}`)}></div>

            <br>
            <h3>{t('cfp_tracks_title')}</h3>
            <div set:html={t('cfp_tracks_content')}></div>

            <br><br>
            <h2>{t('tremplin_previous_editions_title')}</h2>
            <div set:html={t('tremplin_previous_editions_content')}></div>
        </div>
    </div>
  </div>
</section>
</Layout>