---
import { t } from "../i18n/i18n";
import cfp from '../data/cfp.json';
import edition from '../data/edition.json';
const lang = (Astro.locals as any).lang;
---
<div class="ui steps">
    <div class="active step">
        <i class="inbox icon"></i>
        <div class="content">
        <div class="title">{t('cfp_opens')}</div>
        <div class="description">{(cfp.dates.open_date as any)[lang]}</div>
        </div>
    </div>
    <div class="active step">
        <i class="spinner icon"></i>
        <div class="content">
        <div class="title">{t('cfp_closes')}</div>
        <div class="description">{(cfp.dates.close_date as any)[lang]}</div>
        </div>
    </div>
    <div class="active step">
        <i class="mail icon"></i>
        <div class="content">
        <div class="title">{t('cfp_notifications')}</div>
        <div class="description">{(cfp.dates.notification_date as any)[lang]}</div>
        </div>
    </div>
    <div class="active step">
        <i class="checked calendar icon"></i>
        <div class="content">
        <div class="title">Snowcamp</div>
        <div class="description">{(edition.dates as any)[lang]} {edition.year}</div>
        </div>
    </div>
</div>
