---
---
<footer>
  <div id="snc-footer" class="snc-footer">
    <div class="snc-footer-bg">
      <div class="snc-inner">
        <div class="container">
          <div class="row">
            <div class="footer-social">
              <ul class="list-inline">
                <li><a class="sp-tw" href="https://twitter.com/SnowCampIO"><i class="fa fa-twitter"></i></a></li>
                <li><a class="sp-in" href="mailto:team@snowcamp.io"><i class="fa fa-envelope"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
