---
---
<footer style="padding-bottom: 1rem; padding-top: 1rem; display: flex; flex-direction: row; justify-content: center; align-items: center">
  <button onclick="location.href='https://twitter.com/SnowCampIO'" class="round" type="button"><span class="material-icons">face</span></button>
  <button onclick="location.href='mailto:team@snowcamp.io'" class="round" type="button"><span class="material-icons">mail</span></button>
</footer>
