---
import organisation from '../data/organisation.json';
---
<div class="row">
    { organisation.organizers.map(orga => (
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="snc-single-speaker">
        <figure>
          <img src={'/img/orga/' + orga.img} alt={orga.name}>
          <figcaption>
            <a class="sp-tw" href={'https://twitter.com/'+orga.twitter} target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="sp-in" href={'https://www.linkedin.com/in/'+orga.linkedin} target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="sp-gh" href={'https://github.com/'+orga.github} target="_blank"><i class="fa fa-github"></i></a>
          </figcaption>
        </figure>
        <div class="speaker-info">
          <h4 class="subtitle">{orga.name}</h4>
        </div>
      </div>
    </div>
    )) }
</div>
