---
const { title, description, img, offset } = Astro.props;
---

<style>
  .img {
    width: 100px;
    height: 100px;
    background-size: 600px 100px;
    background-position: var(--offset) 0;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 2rem;
    line-height: 4.2rem;
    font-weight: 700;
  }
  p {
    text-align: center;
  }
</style>
<div>
  <div class="img" style={`background-image: url(${img}); --offset: ${offset}`}></div>
  <h3>{title}</h3>
  <p>{description}</p>
</div>
