---
import { t } from "../i18n/i18n";
import ticket from '../data/ticket.json';

const lang = (Astro.locals as any).lang;
const store = ticket.store;
const classic = ticket.store.classic;
const classic_status = classic.status

let storeStatus = '';
if (classic_status === "closed") {
  storeStatus = t('store_is_soldout');
} else if (classic_status === "not_open" || classic_status === "open") {
  storeStatus = t('store_classic_dates', (classic.open_date as any)[lang]);
} else if (classic_status === "open") {
  storeStatus = t('store_is_open');
} else {
  storeStatus = t('store_not_open');
}
---
<span class="emph">{storeStatus}</span>
{store.url && (classic_status === "open") ?
<p>
  <a href={store.url} target="_blank">
    <i class="fa fa-hand-o-right" aria-hidden="true"><span> <b>{t('store_here')}</b></span></i>
  </a>
</p>
: ''}
