---
import StorePackage from "./StorePackage.astro";
import ticket from '../data/ticket.json';
---
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <StorePackage days={2} store={ticket.store.classic}></StorePackage>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <StorePackage days={3} store={ticket.store.classic}></StorePackage>
  </div>
</div>
