---
export interface Props {
	title: string;
}
const { title } = Astro.props;
const lang = (Astro.locals as any).lang;

import HeaderIncludes from "../components/HeaderIncludes.astro";
import Footer from '../components/Footer.astro';
import Menu from '../components/Menu.astro';
import site from '../data/site.json';
import 'bootstrap/dist/css/bootstrap.css'
import '../styles/style.less';
---
<!DOCTYPE html>
<html class="no-js" lang={lang} prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="canonical" href="">
	<title>{title}</title>
	<HeaderIncludes></HeaderIncludes>
</head>
<body lang={lang}>
	<Menu></Menu>
	<slot />
	<Footer></Footer>
</body>