---
export interface Props {
	target: string;
}
const { target } = Astro.props;

const content = `0; url=${target}`;
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content={content}/>
	<title>Redirect to {target}</title>
</head>
</head>
<body lang="fr">
<h3 style="margin: 50px auto; text-align: center;">Redirect to {target}</h3>
</body>
